<div
  class="text-primary p-2 shadow-md hover:shadow-xl rounded-md cursor-pointer hover:scale-105 transform transition-all duration-300 ease-in-out bg-gray-50"
  routerLink="/posts/{{ post.id }}"
>
  <img class="w-full h-60 object-cover rounded-lg" [src]="post.photo" alt="" />
  <div class="">
    <div class="flex items-center justify-between border-b pb-2">
      <p class="text-xl truncate">
        {{ post.title }}
      </p>
      <div class="-space-y-px">
        <div class="flex justify-end space-x-0.5 cursor-pointer">
          <span class="material-icons text-lg">arrow_drop_up</span>
          <p>{{ post.votes }}</p>
        </div>
        <div class="flex space-x-0.5">
          <span class="material-icons text-lg">chat_bubble_outline</span>
          <p>{{ post.comments }}</p>
        </div>
      </div>
    </div>
    <div>
      <p class="">
        {{ post.content }}
        <span class="text-xl font-bold text-gray-300"> ... &nbsp;</span>
        <span
          class="no-underline hover:underline cursor-pointer font-semibold text-primary"
          >Read more</span
        >
      </p>
    </div>
  </div>
</div>
