<div *ngIf="profileService.member$ | async" class="flex flex-col gap-2">
  <div class="flex flex-row w-full gap-0.5 items-center">
    <span class="text-[10px] text-gray-400 font-semibold uppercase"
      >Statistics</span
    >
    <div class="border-b border-b-secondary w-full"></div>
  </div>

  <div class="flex flex-row gap-2 items-center">
    <span class="font-semibold text-sm text-primary"> Member since </span>
    <span class="font-semibold text-secondary">
      {{ (profileService.member$ | async)?.created | timeago }}
    </span>
  </div>
</div>
