<div class="flex flex-col w-96 space-y-5">
  <div class="flex justify-center items-end w-full">
    <h2 class="text-2xl font-bold text-primary">
      Sign Up
    </h2>
    <h2 class="text-xl font-semibold text-primary">
      &nbsp; and become a BARKER
    </h2>
  </div>
  <app-input placeholder="Email"></app-input>
  <app-input placeholder="Username"></app-input>
  <app-input placeholder="Password"> </app-input>

  <app-button size="lg" message="Sign-up" type="info"></app-button>

  <div class="flex justify-center w-full items-center space-x-5">
    <p>Already have an account?</p>
    <app-button
      class="w-20"
      [outlined]="true"
      type="success"
      message="Login"
    ></app-button>
  </div>
</div>
