<div
  *ngIf="profileService.userPosts$ | async; else noPosts"
  class="flex flex-col h-full gap-5"
>
  <div
    *ngFor="let post of profileService.userPosts$ | async"
    class="w-full drop-shadow-md rounded-lg hover:brightness-95 hover:cursor-pointer"
  >
    <div class="grid grid-cols-3 bg-gray-50 p-2">
      <img
        class="h-44 object-cover rounded-lg"
        [src]="post.photo"
        [alt]="post.title"
      />
      <div class="col-span-2 flex flex-col pl-2">
        <p
          class="font-semibold text-secondary uppercase truncate whitespace-nowrap"
        >
          {{ post.title }}
        </p>
        <div class="grid grid-cols-4 p-2">
          <div class="col-span-3">
            <p class="text-primary">{{ post.content }}</p>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-row h-full justify-center items-center">
              <span class="material-icons text-xl text-primary">
                keyboard_double_arrow_up
              </span>
              <p>{{ post.votes }}</p>
            </div>
            <div class="flex flex-row h-full justify-center items-center">
              <span class="material-icons text-xl text-primary"> comment </span>
              <p>{{ post.comments }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noPosts>
  <div
    *ngIf="profileService.isAuthenticatedUser(); else notAuth"
    class="flex flex-row justify-center"
  >
    <span class="text-sm text-primary">
      You have no added posts. <br />
      You can add a post
      <span
        class="underline text-secondary font-semibold hover:font-bold hover:cursor-pointer"
      >
        here</span
      >.
    </span>
  </div>

  <ng-template #notAuth> There are no posts </ng-template>
</ng-template>
