<div
  class="border rounded-md cursor-pointer hover:scale-105 transform transition-all shadow-md duration-300 ease-in-out"
  (click)="openPost()"
>
  <div class="w-full h-40 border-2 bg-gray-200"></div>
  <div class="p-3">
    <div class="flex items-center justify-between border-b pb-2">
      <p class="text-2xl">{{ post.title }}</p>
      <div class="-space-y-px">
        <div class="flex space-x-3 cursor-pointer">
          <span class="material-icons text-lg">favorite_border</span>
          <p>{{ post.numberOfComments }}</p>
        </div>
        <div class="flex space-x-3">
          <span class="material-icons text-lg">chat_bubble_outline</span>
          <p>{{ post.likes }}</p>
        </div>
      </div>
    </div>
    <div>
      <p>
        {{ post.message }}
        <span class="text-xl font-bold text-gray-300">... &nbsp;</span>
        <span
          class="no-underline hover:underline cursor-pointer font-semibold text-primary"
          >Read more</span
        >
      </p>
    </div>
  </div>
</div>
