<div
  class="modal absolute left-1/2 top-1/2 z-[3] h-auto border border-secondary bg-gray-50 rounded-md p-5 {{
    size
  }}"
>
  <div class="flex justify-between mb-10">
    <span class="text-secondary text-2xl font-bold capitalize">
      {{ title }}
    </span>
    <span class="cursor-pointer" (click)="close()">✕</span>
  </div>
  <div class="mb-10">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer flex flex-row justify-end gap-2" *ngIf="hasSubmit">
    <app-button
      class="w-20"
      message="Cancel"
      [outlined]="true"
      type="info"
      (click)="close()"
    ></app-button>
    <app-button
      class="w-20"
      message="Submit"
      type="success"
      (click)="submit()"
    ></app-button>
  </div>
  <div *ngIf="!hasSubmit">
    <app-button
      class="w-20"
      message="OK"
      type="success"
      [outlined]="true"
      (click)="close()"
    ></app-button>
  </div>
</div>

<div
  class="flex justify-center items-center absolute z-[2] h-full w-full inset-0 bg-black opacity-25"
  (click)="close()"
></div>
