<div class="flex flex-col py-5 gap-5">
  <p class="px-5 text-2xl font-bold text-primary">Your chats</p>
  <div class="px-5 flex flex-row items-center gap-2">
    <div
      class="cursor-pointer flex items-center bg-gray-50 rounded-md h-9 w-full px-2 text-primary"
      routerLink="/people"
    >
      <span class="text-gray-300">Search user...</span>
    </div>
  </div>
  <div *ngIf="chatService.activeChats$ | async; else noActiveChats">
    <div
      *ngFor="let chat of chatService.activeChats$ | async"
      class="hover:bg-gray-200 cursor-pointer"
      (click)="openChat(chat)"
    >
      <div class="pl-5 flex flex-row items-center">
        <div class="py-2">
          <div class="w-14 relative after:block after:pt-[100%]">
            <img
              class="h-full rounded-full w-full object-cover absolute"
              [src]="chat.participantPhoto"
              alt=""
            />
          </div>
        </div>
        <div
          class="flex flex-row items-center justify-between w-full border-b border-b-gray-50 py-3 ml-3"
        >
          <div class="flex flex-col">
            <p class="text-lg text-primary font-semibold">
              {{ chat.participant }}
            </p>
            <p class="text-sm text-gray-600">{{ chat.lastMessage }}</p>
          </div>
          <div class="flex pr-3 flex-col items-center">
            <p
              class="text-xs contrast-75"
              [ngClass]="
                chat.hasUnreadMessage !== 0 ? 'text-secondary' : 'text-gray-600'
              "
            >
              <!--{{ chat.lastMessageSent.getHours() }}:{{
                chat.lastMessageSent.getMinutes()
              }}-->
            </p>

            <span
              [hidden]="chat.hasUnreadMessage !== 0"
              class="material-icons text-secondary"
            >
              fiber_manual_record
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noActiveChats>
    <div
      class="px-5 py-10 flex flex-col text-center items-center justify-center gap-2 text-primary"
    >
      <span class="flex items-center gap-2 text-lg font-semibold">
        <span class="material-icons">sentiment_dissatisfied</span>
        No active chats.
      </span>
      <span> You can search for someone to talk to, though... </span>
    </div>
  </ng-template>
</div>
