<div class="flex flex-col py-5 gap-5">
  <p class="px-5 text-2xl font-bold text-primary">Your chats</p>
  <div class="px-5 flex flex-row items-center gap-2">
    <input
      type="text"
      placeholder="Search user..."
      class="bg-gray-50 rounded-md h-9 w-full px-2 text-primary"
    />
    <span
      class="material-icons text-primary cursor-pointer hover:brightness-150"
      >clear</span
    >
  </div>
  <div>
    <div
      *ngFor="let chat of chatService.activeChats$ | async"
      class="hover:bg-gray-200 cursor-pointer"
      (click)="openChat(chat)"
    >
      <div class="pl-5 flex flex-row items-center">
        <div class="py-2">
          <div class="w-14 relative after:block after:pt-[100%]">
            <img
              class="h-full rounded-full w-full object-cover absolute"
              [src]="chat.photo"
              alt=""
            />
          </div>
        </div>
        <div
          class="flex flex-row items-center justify-between w-full border-b border-b-gray-50 py-3 ml-3"
        >
          <div class="flex flex-col">
            <p class="text-lg text-primary font-semibold">
              {{ chat.userName }}
            </p>
            <p class="text-sm text-gray-600">{{ chat.lastMessage }}</p>
          </div>
          <div class="flex pr-3 flex-col items-center">
            <p
              class="text-xs contrast-75"
              [ngClass]="
                chat.hasUnreadMessage === true
                  ? 'text-secondary'
                  : 'text-gray-600'
              "
            >
              {{ chat.lastMessageTime.getHours() }}:{{
                chat.lastMessageTime.getMinutes()
              }}
            </p>

            <span
              [hidden]="!chat.hasUnreadMessage"
              class="material-icons text-secondary"
            >
              fiber_manual_record
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
