<div
  class="sticky top-20 h-12 px-10 lg:px-20 w-full text-white bg-gray-800 flex flex-row items-center justify-between"
>
  <div class="flex flex-row gap-5">
    <div class="flex items-center gap-2 border-l border-r px-5">
      <span
        class="material-icons cursor-pointer {{
          liked ? 'text-red-600' : 'hover:text-red-600 '
        }} transition-color duration-100"
        >{{ liked ? "favorite" : "favorite_outline" }}</span
      >
      <span class="cursor-default" (click)="like()">{{ likes }}</span>
    </div>
    <span>{{ title }}</span>
  </div>
  <div
    class="cursor-pointer flex flex-row items-center gap-2 hover:opacity-75"
    routerLink="../"
  >
    <span class="material-icons">close</span>
    <span>Close</span>
  </div>
</div>
