<div
  class="sticky top-20 h-12 px-10 lg:px-20 w-full text-white bg-secondary flex flex-row items-center justify-between"
>
  <div class="flex flex-row gap-5">
    <div class="flex items-center gap-2 border-r px-5">
      <span class="material-icons cursor-pointer">
        keyboard_double_arrow_up
      </span>
      <span>{{ votes }}</span>
    </div>
    <span>{{ title }}</span>
  </div>
  <div
    class="cursor-pointer flex flex-row items-center gap-2 hover:opacity-75"
    routerLink="../"
  >
    <span class="material-icons">close</span>
    <span>Close</span>
  </div>
</div>
