<div class="relative h-full w-full">
  <div
    class="flex justify-between items-center gap-5 p-2 cursor-pointer rounded-md h-full border"
    (click)="active = !active"
  >
    <span>
      {{ selectedOption.value }}
    </span>
    <span class="material-icons">
      {{ active ? 'expand_less' : 'expand_more' }}
    </span>
  </div>

  <!-- Options -->
  <div
    class="{{
      active ? 'visible bg-secondary_lighter' : 'invisible'
    }} w-full flex flex-col w-max absolute z-10  border rounded-md p-2 shadow-xl"
  >
    <div
      *ngIf="hasAll"
      class="cursor-pointer border-b rounded-sm p-3 {{
        selectedOption.code === 'all'
          ? 'bg-gray-300'
          : 'hover:bg-primary_lighter'
      }} "
      (click)="onOptionClick(defaultOption)"
    >
      All
    </div>
    <div
      class="cursor-pointer border-b rounded-sm p-3 {{
        option === selectedOption ? 'bg-gray-300' : 'hover:bg-primary_lighter'
      }}"
      *ngFor="let option of options"
      (click)="onOptionClick(option)"
    >
      {{ option.value }}
    </div>
  </div>
</div>
