<div class="relative h-full w-full">
  <div
    class="flex items-center gap-5 p-2 cursor-pointer rounded-md h-full"
    (click)="active = !active"
  >
    <span>
      {{ selectedOption }}
    </span>
    <span class="material-icons">
      {{ active ? "expand_less" : "expand_more" }}
    </span>
  </div>

  <!-- Options -->
  <div
    class="{{
      active ? 'visible bg-gray-50' : 'invisible'
    }} flex flex-col w-max absolute z-10 bg-white border rounded-md p-2 shadow-xl"
  >
    <div
      *ngIf="hasAll"
      class="cursor-pointer border-b rounded-sm p-3 {{
        selectedOption === 'All' ? 'bg-gray-300' : 'hover:bg-gray-50'
      }} "
      (click)="selectedOption = 'All'; active = false"
    >
      All
    </div>
    <div
      class="cursor-pointer border-b rounded-sm p-3 {{
        option === selectedOption ? 'bg-gray-300' : 'hover:bg-gray-50'
      }}"
      *ngFor="let option of options"
      (click)="selectedOption = option; active = false"
    >
      {{ option }}
    </div>
  </div>
</div>
