<div
  [hidden]="!!(profileService.member$ | async)"
  class="flex flex-row w-full h-full gap-10 pt-10"
>
  <div class="relative w-1/3">
    <div class="flex flex-col fixed gap-5" style="width: 22%">
      <div class="">
        <div class="w-full relative after:block after:pt-[100%]">
          <img
            class="h-full w-full object-cover absolute"
            [src]="(profileService.member$ | async)?.photo"
            alt=""
          />
        </div>
        <div
          class="flex transition-colors font-semibold text-gray-800 py-2 bg-primary_lighter w-full justify-center cursor-pointer hover:bg-primary hover:text-gray-300"
          *ngIf="profileService.isAuthenticatedUser()"
        >
          <label for="file-upload" class="cursor-pointer font-semibold">
            Change picture
            <input
              accept=".jpg"
              id="file-upload"
              name="file-upload"
              type="file"
              class="sr-only w-full"
              (change)="onPhotoSelect($event)"
            />
          </label>
        </div>
      </div>
      <app-profile-statistics></app-profile-statistics>
    </div>
  </div>
  <div class="w-2/3">
    <app-profile-content></app-profile-content>
  </div>
</div>
