<div class="static w-full flex flex-col my-10 gap-5">
  <div class="grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-8">
    <div
      *ngFor="let member of profileService.members$ | async"
      class="flex flex-col text-primary p-2 shadow-md hover:shadow-xl rounded-md cursor-pointer hover:scale-105 transform transition-all duration-300 ease-in-out bg-gray-50"
      routerLink="/profile/{{ member.userName }}"
    >
      <img
        class="w-full h-60 object-cover rounded-lg"
        [src]="member.photo"
        alt=""
      />
      <div class="flex flex-row items-center justify-between py-2">
        <span class="text-xl">
          {{ member.userName }}
        </span>
        <div class="flex items-center gap-2">
          <div class="flex w-fit px-2 text-primary gap-2 flex-row items-center">
            <span class="material-icons text-xl"> pets </span>
            <span class="font-semibold text-lg">{{ member.numberOfPets }}</span>
          </div>
          <div class="flex w-fit px-2 text-primary gap-2 flex-row items-center">
            <span class="material-icons text-xl"> markunread_mailbox </span>
            <span class="font-semibold text-lg">{{
              member.numberOfPosts
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!profileService.hasNext" class="flex justify-center">
    No more members...
  </div>
  <div
    class="fixed flex-col inline-flex items-end justify-center gap-5 bottom-10 right-20"
  >
    <div
      class="animate-bounce cursor-pointer flex items-center justify-center h-14 w-14 z-20 rounded-full bg-secondary"
      (click)="scrollToTop()"
      *ngIf="shouldScroll"
    >
      <span class="material-icons text-4xl text-gray-50">arrow_upward</span>
    </div>
  </div>
</div>
