<div class="relative">
  <input
    class="peer border-b-2 h-14 w-full focus:outline-none focus:border-secondary placeholder-transparent"
    type="text"
    id="email"
    [placeholder]="placeholder"
  />
  <label
    for="email"
    class="absolute left-0 -top-3.5 text-secondary text-sm transition-all
    peer-placeholder-shown:text-base
    peer-placeholder-shown:text-gray-400
    peer-placeholder-shown:top-2
    peer-focus:-top-2
    peer-focus:text-secondary
    peer-focus:text-sm
    "
  >
    {{ placeholder }}
  </label>
</div>
